<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="http://qtcon.org/" target="_blank"><img src="images/qtcon-logo.png"/></a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>2016 was a special year for free software: KDE celebrated its 20th anniversary and VideoLAN and FSFE celebrated their 15th. This year’s QtCon brought together KDE Akademy, VideoLAN Developer Days, Qt Contributors' Summit, FSFE Summit and KDAB Qt Training Day. The conference took place between September 1 and September 4 in Berlin, Germany. The main conference was held at the <a href="http://www.bcc-berlin.de/en" target="_blank">Berlin Congress Centre</a>, and the BoFs and hacking sessions happened at the <a href="http://www.tu-berlin.de/menue/home/?no_cache=1" target="_blank">Technical University of Berlin</a>. Hundreds of developers, translators, artists, writers, users, supporters, sponsors, and other interested visitors gathered for training, talks, meetings, and coding sessions.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>On the fourth day, Julia Reda (Member of the European Parliament for the Pirate Party and Vice-Chair of the Greens/European Free Alliance) presented a keynote on "Software as a Public Service". She pointed out the importance of having governments use free and open source software, and posed a critical question: can people be truly emancipated and governments truly independent when they cannot inspect and modify the code that runs their lives? Finally, Jens Reuterberg delivered the KDE Community Keynote on KDE as "a collective of a thousand nerds arguing wildly" and showed us how to channel this energy to help make the project great. Afterwards, some of the students from Google Summer of Code presented the work they had been doing for the previous three months.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/qtcon.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>QtCon</h3>
                                    <p>Akademy Award Winners</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/qtcon.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The conference was closed with the KDE Akademy Awards honoring the year's most valued and diligent KDE contributors. The winners include:</p>
                    <ul>
                        <li>Aleix Pol (Best Non-Application Contribution) for his hard work on KDE code, but also for serving the community as a board member for the KDE e.V. and KDE España; </li>
                        <li>Dominik Haumann and Christoph Cullman (Best Application) for their work on Kate;</li>
                        <li>Daniel Vrátil and the KDE PIMsters (Jury Award) for creating and maintaining the largest suite of communication applications in the world;</li>
                        <li>and Akademy organisers - as is traditional, an award was given to the organisers of Akademy, who were represented by Kenny Coyle.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The conference was opened by Mattias Kalle Dalheimer, the KDAB group president and long-time KDE developer. We heard introductory speeches by Lars Knoll from Qt Company, Jean Baptiste from VideoLAN, Erik Albers from FSFE, and our very own Lydia Pintscher, who talked about a new vision for a world in which everyone has control over their digital life and can enjoy freedom and privacy. The next three days were devoted to lightning talks, unconference sessions, and more than 150 in-depth talks on technical and community topics in 13 concurrent tracks.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p><p>KDE contributor Simon Wächter won the annual FSFE award for the website Freedomvote.ch, a site that profiles Swiss political candidates for digital rights values. With the conference closed, the KDE Community rounded out the week with a fun day trip to Pfaueninsel - Berlin's Peacock Island. This was another successful event that provided all our contributors and supporters with motivation and food for thought on how to help the project achieve its vision.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Day two opened with a keynote from disability campaigners Raul Krauthausen and Holger Dieterich. They discussed how open data and open software can be used in social activism to create shared information resources that can help people with disabilities. In the third day’s keynote, Leslie Hawthorn of Red Hat talked about cultivating empathy in design. Leslie explained that empathy is a skill anyone can develop and cultivate, both in oneself and in the community. Empathy can be used to create better products, while at the same time improving interaction with your fellow human beings.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Videos from the QtCon KDE talks are available <a href="https://www.youtube.com/playlist?list=PLsHpGlwPdtMogitRYzwPz4dWTVsZRGwts" target="_blank">here</a>. You can check out the <a href="https://conf.qtcon.org/en/qtcon/public/schedule" target="_blank">complete conference programme</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
