<section id="new-members" class="parallax">
    <br id="new-members-ref"/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>The Organization</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>New Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    KDE e.V. is happy to welcome the following new members:
                </div>
            </div>
        </div>
        <ul class="row wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <li class="col-sm-12 col-xs-12">
                Łukasz Sawicki
            </li>
            <li class="col-sm-12 col-xs-12">
                Roman Gilg
            </li>
            <li class="col-sm-12 col-xs-12">
                Marco Paganoni
            </li>
            <li class="col-sm-12 col-xs-12">
                Matija Šuklje
            </li>
            <li class="col-sm-12 col-xs-12">
                Andrea Scarpino
            </li>
            <li class="col-sm-12 col-xs-12">
                Davide Valsecchi
            </li>
            <li class="col-sm-12 col-xs-12">
                Matteo Bonanomi
            </li>
            <li class="col-sm-12 col-xs-12">
                José Millán Soto
            </li>
            <li class="col-sm-12 col-xs-12">
                Andres Betts
            </li>
            <li class="col-sm-12 col-xs-12">
                Stefan Derkits
            </li>
        </ul>
    </div>
</section>
